/* general reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #222;
}

/* hero section */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #6a11cb,#2575fc,#f7971e,#ffd200);
    background-size:400% 400% ;
    animation: gradientMove 20s ease infinite;
    color: white;
    padding: 2rem;
}

@keyframes gradientMove{
    0%{ background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% { background-position: 0% 50%;}
}
.profile-pic-container {
    text-align: center;
    margin: 40px;
}

.profile-pic {
    width: 180px;
    height: auto;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.05);
}
#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.2rem;
    max-width: 700px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#hero button.work {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #2575fc;
    cursor: pointer;
    transition: all 0.3s ease;
}

#hero button.work:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
}

/* About me section */

#about {
    background-color: #f5f5f5;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;

    margin-top: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

#about h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom:2rem
}

#about ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

#about ul li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
    padding-left: 0.5rem;
    cursor: default;
}

#about ul li:hover {
    color: #6a11cb;
    transform: translateX(5px);
    text-shadow: 1px 1px 1px rgba(106,13,173,0.5);
}

/* Skills Section */

#skills {
    background-color: #f5f5f5;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

#skills h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#skills ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

#skills ul li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
    padding-left: 0.5rem;
    cursor: default;
}

#skills Ul li:hover {
    color: #6a11cb;
    transform: translateX(5px);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Projects */

#projects {
    background-color: #f5f5f5;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}

#projects h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#projects ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

#projects ul li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
    padding-left: 0.5rem;
    cursor: pointer;
}

#projects ul li:hover {
    color: #6a11cb;
    transform: translateX(5px);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#projects a {
    color: #222;
    text-decoration: none;
    transition: color 0.3s;
}

#projects a:hover {
    color: #6a11cb;
}

/* contact section */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20vh;
    background: linear-gradient(-45deg, #6a11cb,#2575fc,#f7971e,#ffd200);
    background-size:400% 400% ;
    animation: gradientMove 20s ease infinite;
    color: white;
    padding: 2rem;
}

footer {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 1vh;
    background: linear-gradient(-45deg, #6a11cb,#2575fc,#f7971e,#ffd200);
    background-size:400% 400% ;
    animation: gradientMove 20s ease infinite;
    color: white;
}

.carousel-item img {
    max-height: 200vh;
    object-fit: cover;
}
